<div class="flex gap-x-4 items-center bg-white p-2 rounded-lg font-poppins shadow-input">
  <div class="text-[16px] w-full lg:w-[130px]">{{ label() }}</div>
  <div class="relative flex items-center gap-x-[11px]">
    <div class="absolute right-0 opacity-0 pointer-events-none">
      <mat-form-field>
        <mat-select #customMatSelect>
          <mat-option value="1">Option 1</mat-option>
          <mat-option value="1">Option 2</mat-option>
          <mat-option value="1">Option 3</mat-option>
          <mat-option value="1">Option 4</mat-option>
          <mat-option value="1">Option 5</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <button (click)="customMatSelect.open()" class="cursor-pointer"><img src="images/select-down-arrow.svg"
        alt="select-down-arrow"></button>
  </div>
</div>