<div class="relative flex gap-x-4 justify-between items-center bg-white p-2 rounded-lg w-full font-poppins shadow-input" (click)="customMatSelect.open()" role="presentation">
  <input [placeholder]="label()" class="outline-none text-[16px] w-[100px]" readonly/>
  <div class="flex items-center gap-x-[11px]">
    <div class="absolute left-0 opacity-0 pointer-events-none w-[80px]">
      <mat-form-field>
        <mat-select #customMatSelect>
          <mat-option value="1">Option 1</mat-option>
          <mat-option value="1">Option 2</mat-option>
          <mat-option value="1">Option 3</mat-option>
          <mat-option value="1">Option 4</mat-option>
          <mat-option value="1">Option 5</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="cursor-pointer"><img src="images/select-down-arrow.svg" alt="select-down-arrow"></div>
  </div>
</div>