<div class="absolute left-0 top-0 bottom-0 w-[287px] h-dvh bg-[#ffffff66]">
  <img src="images/logo-1.svg" width="136" alt="logo" />
  <ul>
    <li class="bg-[#252F40] text-white rounded-[5px] mb-2 cursor-pointer flex items-center gap-x-[17px] p-4 font-poppins font-semibold text-[20px]">
      <img src="images/dashboard.svg" alt="icon" />
      Dashboard
    </li>
    <li class="rounded-[5px] hover:bg-[#252F40] hover:text-white mb-2 cursor-pointer flex items-center gap-x-[17px] p-4 font-poppins font-semibold text-[20px]">
      <img src="images/alerts.svg" alt="icon" />
      Alerts
    </li>
    <li class="rounded-[5px] hover:bg-[#252F40] hover:text-white mb-2 cursor-pointer flex items-center gap-x-[17px] p-4 font-poppins font-semibold text-[20px]">
      <img src="images/species-management.svg" alt="icon" />
      Species Management
    </li>
    <li class="rounded-[5px] hover:bg-[#252F40] hover:text-white mb-2 cursor-pointer flex items-center gap-x-[17px] p-4 font-poppins font-semibold text-[20px]">
      <img src="images/alert-configuration.svg" alt="icon" />
      Alert Configuration
    </li>
    <li class="rounded-[5px] hover:bg-[#252F40] hover:text-white mb-2 cursor-pointer flex items-center gap-x-[17px] p-4 font-poppins font-semibold text-[20px]">
      <img src="images/new-network.svg" alt="icon" />
      New Network</li>
  </ul>
</div>