<div class="overflow-x-auto font-poppins flex justify-center">
  <div class="w-full max-w-full overflow-x-auto">
    <table class="min-w-full table-auto border-collapse">
      <!-- Table Header -->
      <thead>
        <tr class="bg-slate-900 h-[71px] text-white text-sm md:text-base">
          <th class="p-3">Date</th>
          <th class="p-3">Species Detected</th>
          <th class="p-3">Location</th>
          <th class="p-3">Latitude</th>
          <th class="p-3">Longitude</th>
          <th class="p-3">Camera ID</th>
          <th class="p-3">Photo</th>
          <th class="p-3">
            <div class="flex justify-center gap-x-1 items-center">
              <img src="images/filter_outline.svg" alt="filter" class="w-4 h-4 min-w-4 min-h-4 lg:w-6 lg:h-6 lg:min-w-6 lg:min-h-6" />
              <img src="images/down-arrow.svg" alt="filter" class="w-4 h-4 min-w-4 min-h-4" />
            </div>
          </th>
        </tr>
      </thead>

      <!-- Table Body -->
      <tbody class="bg-white divide-y divide-gray-200 text-sm md:text-base">
        <tr *ngFor="let data of speciesData" class="hover:bg-gray-50">
          <td class="p-3">{{ data.date }}</td>
          <td class="p-3">{{ data.species }}</td>
          <td class="p-3">{{ data.location }}</td>
          <td class="p-3">{{ data.latitude }}</td>
          <td class="p-3">{{ data.longitude }}</td>
          <td class="p-3">{{ data.cameraId }}</td>
          <td class="p-3">photo here</td>
          <td class="p-3">
            <img src="images/edit.svg" alt="edit" class="w-4 h-4 min-w-4 min-h-4 lg:w-6 lg:h-6 lg:min-w-6 lg:min-h-6" />
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>